.processingMatrixTable {
	width: 100%;
	border: 1px #6a6262 solid;
	border-collapse: collapse;
	table-layout: fixed;
}

.processingMatrixCell {
	border: 1px #6a6262 solid;
	position: relative;
}

.processingMatrixCell:hover {
	border: 3px solid;
	font-weight: bold;
}

.userCell {
	background-color: #e3f8db;
	color: #012f00;
}

.deliveryDefault {
	background-color: #fffbc4;
	color: #5c4601;
}

.shipmentDefault {
	background-color: #caebff;
	color: #044faa;
}

.commonDefault {
	background-color: #cac8e8;
	color: #35104e;
}

.notValid {
	background-color: #ffe6e6;
	color: #660500;
}

.itemHeader {
    font-weight: bold;
    font-size: 75%;
}