<head>
       
</head>

<body>
    <h1>Processing Matrix</h1>
     
    <table width="30%" border="1" cellpadding="4" cellspacing="0">
        <thead>
            <tr data-bind="foreach: head">
                <th> 
                    <span data-bind="text: $data"></span>
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: rows">
            <tr data-bind="foreach: $data"> <!--foreach-->
                <td>
                    <span data-bind="text: $data"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <script src="libs/knockout-3.4.2.js"></script>
    <script src="libs/jquery.js"></script>

    <script src="processingMatrix-ko.js"></script>
  	<script type="text/javascript">
		var rootModel = null;
		$(document).ready(function() {
			try {
				rootModel = new ProcessingMatrixKo(
					{
                    
                    });
				ko.applyBindings(rootModel);
			} catch (e) {
				console.log(e);
			}
		});
	</script>
</body>